<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60453841329-veocv2o70or2ah3prjk30an99nccf1eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60453841329-veocv2o70or2ah3prjk30an99nccf1eh</string>
	<key>API_KEY</key>
	<string>AIzaSyAq-vn3x4syUGx0f5lXT7dnKfdWAk5a9g8</string>
	<key>GCM_SENDER_ID</key>
	<string>60453841329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Food-Journal</string>
	<key>PROJECT_ID</key>
	<string>foodjournal-ca383</string>
	<key>STORAGE_BUCKET</key>
	<string>foodjournal-ca383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60453841329:ios:fc8dc28872dd5fa218f590</string>
</dict>
</plist>